<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.roy.sm.dao.DepartmentMapper">

    <!--Department getDeptById(Integer id);-->
    <select id="getDeptById" resultType="com.roy.sm.model.Department">
        select id, dept_name departmentName from tbl_dept where id = #{id}
    </select>
</mapper>